/*----ANIMATION  DE SURBRILLANCE SUR UN TITRE OU UN TEXTE -----*/
    h1 {
        /*-- Lignes de code qui créer une bande blanche créant l'effet de surbrillance --*/
        background: #222 -webkit-gradient(
                linear,
                left top,
                right top,
                from(#222),
                to(#222),
                color-stop(0.5, #fff)
            ) 0 0 no-repeat;
        background-image: -webkit-linear-gradient(
            -40deg,
            transparent 0%,
            transparent 40%,
            #fff 50%,
            transparent 60%,
            transparent 100%
        );
        /*-- Ici sont défini les paramètres de l'effet, tel que la durée, le nombre d'i9ntérations et le type d'effet en soi --*/
        -webkit-background-size: 200px;
        color: rgba(242, 84, 91, 0.85);
        -webkit-background-clip: text;
        -webkit-animation-name: shine;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;

        /*-- Voici les postions auxquels la ligne de surbrillance sera positionnée, dépendemment d'à quel pourcentage du temps défini plus haut l'animation est rendu. --*/
        /*-- Dans ce cas, la ligne de surbrillance sera au coin gauche du texte après 20% du 3 secondes passés, puis quittera le visuel du mot lorsque l'animation sera à 90% complété --*/
        @-webkit-keyframes shine {
            0%,
            10% {
                background-position: -1000px;
            }
            20% {
                background-position: top left;
            }
            90% {
                background-position: top right;
            }
            100% {
                background-position: 1000px;
            }
        }
    }
